*,
*::before,
*::after {
    box-sizing: border-box;
}



.goods-list{
    display: grid;
    grid-template-columns: repeat(3, 200px);

}
.goods-item{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    margin: 20px;
    padding: 8px;
    background-color: blanchedalmond;
    
}

.cart-button{
    background-color: brown;
    width: 200px;
    height: 30px;
    margin: 20px;
    font-size: 18px;
    color: white;
}